@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* Header CSS */
.header-container {
  padding: 15px 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-logo img {
  width: 110px;
  height: auto;
}

.nav-list li {
  display: inline;
  margin-right: 30px;
}

.nav-list li a {
  text-decoration: none;
  color: #000;
}

.button-primary {
  background-color: #1f9e54;
  border: 0;
  border-radius: 5px;
  padding: 11px 18px;
  color: #fff;
}

.button-primary:hover {
  background-color: rgb(10, 155, 160);
  cursor: pointer;
  border-radius: 15px 0 50px 0;
}

.button-secondary {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 18px;
  color: #fff;
  margin-left: 18px;
}

.button-secondary:hover {
  background-color: rgba(165, 244, 247, 0.123);
  cursor: pointer;
  border-radius: 15px 0 50px 0;
}

/* Main Body CSS */
.banner-container {
  background-color: #ffffff;
  background: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  max-width: 60%;
  margin: 0 auto;
  padding: 10% 0;
  text-align: center;
}

.badge-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-badge {
  width: 200px;
  background-color: whitesmoke;
  padding: 9px 14px;
  border-radius: 25px;
  margin-bottom: 3%;
}

.hero-badge {
  color: #1f9e54;
}

.dot {
  height: 9px;
  width: 9px;
  background-color: #1f9e54;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.hero-container h1 {
  color: #fff;
  font-size: 5.5em;
  margin-bottom: 3%;
}

.hero-description {
  color: #fff;
  font-size: 1.3em;
  line-height: 35px;
  margin-bottom: 5%;
}

.title-subline {
  color: #1f9e54;
}

/* Feature Section CSS */

.features-container {
  text-align: center;
  padding-top: 5%;
}

.features-container hgroup {
  padding-bottom: 5%;
}

.features-container hgroup h2 {
  font-size: 3.5em;
}
.features-container hgroup p {
  font-size: 1.2em;
  padding-top: 16px;
}

.features-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.feature-card {
  width: 330px;
  height: 180px;
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 55px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-card figure {
  background-color: orangered;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.feature-card h3 {
  font-size: 1.6em;
  margin-bottom: 16px;
}

.feature-card p {
  color: gray;
  /* padding: 8px 0; */
}

/* Solution CSS */
.solution-container {
  padding: 7% 0;
  display: flex;
  align-items: center;
  gap: 70px;
  text-align: left;
}

.eyebrow {
  font-size: 1.3em;
  font-weight: 400;
  color: #1f9e54;
  padding: 5px 0;
}

.solution-contents hgroup h2 {
  font-size: 4em;
  line-height: 70px;
  padding: 20px 0;
}

.solution-description {
  color: gray;
  font-size: 1.2em;
  padding-bottom: 30px;
}

.solution-container ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 8px;
  font-size: 1.2em;
}

/* CTA Section CSS */
.cta-container {
  background-color: antiquewhite;
  border-radius: 5px;
  text-align: center;
}

.cta-contents {
  padding: 8% 0;
  margin-bottom: 8%;
}

.cta-contents h2 {
  font-size: 3em;
  margin-bottom: 16px;
}

.cta-btn {
  margin: 30px 0;
}

.cta-contents p {
  color: gray;
  font-size: 1.1em;
}

.cta-dot {
  height: 8px;
  width: 8px;
  margin: 0 6px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
}

/* Footer CSS */
.footer {
  background-color: rgb(15, 15, 54);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8% 0;
}

.footer-logo {
  width: 140px;
  height: auto;
}

.footer-nav p {
  color: #fff;
  font-size: 1.4em;
  padding-bottom: 15px;
}

.footer-nav ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.fa-brands {
  color: #fff;
  font-size: 1.1em;
}

.footer-bottom {
  padding: 24px 0;
  text-align: center;
}

.footer-bottom small {
  color: #fff;
}
